.container {
    display: flex;
    flex-direction: column;
   align-items: center;
    height: 100vh;
}

.grid {
    margin: 1rem;
    display: flex;
    width: 50%;
}

.pane {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pane .docsearch{
    display:flex;
    flex-direction: row;
}

.pane .leftside {
    display:flex;
    flex-direction: column;
}

.pane .selectedinfo {
    display: flex;
    flex-direction:column;
    margin-top:1rem;
    padding: 0.8rem;
    padding-bottom: 0.4rem;
    background-color: #003366;
    color: white;
    border-radius: 8px;
}

.pane .databox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pane .databox .approvers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
}

.pane .component {
    display: flex;
    flex-direction: column;
    margin:0.2rem;
}

.pane .search{
    margin-left: auto;
    width:30%;
}

.pane .listbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8B0000;
    width: 50%;
    height: 5rem;
}

.pane .search .listbox {
    width: 100%;
}

.pane .info_and_review{
    display: flex;
    flex-direction: row;
}

.pane .info_and_review .listbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003366;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 50%;
    height: 15rem;
}


.title {
    display:flex;
    width: 100%;
    justify-content: center;
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main .create_button {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.main .create_button .create_button_style {
    border-radius: 10px;
}

.main .main_component {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main .main_component .members {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.members_button {
    margin-left:1rem;
    border-radius: 10px;
}

.smallRow .dxgvDataRow {
    height: 25px !important; /* Adjust row height */
}

.return {
    display:flex;
    align-content:start;
}

.selectedUserStyle {
    font-weight: bold;
    color: #32CD32;
}

.scrollable-grid {
    max-height: 600px; /* Adjust as needed */
    overflow-y: auto; /* Enables vertical scrolling */
}


